*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "Lucida Console", "Courier New", monospace;
	
}

body{
	background: #BEDDDC;
	
}

.wrapper{
	display: flex;
	position: relative;
	
}

.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #56ACAC;
	
}

.wrapper .sidebar h2{
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	padding-top: 29px;
	border-bottom: 3px solid white;

}

.wrapper .sidebar ul li {
	padding: 15px;
	border-bottom: 1px solid rgba (0,0,0,0.05);
	border-top: 1px solid rgba (225,225,225,225.05);
}

.wrapper .sidebar ul li a{
	color: white;
	display: block;
	padding: 10px;
	
}

.wrapper .sidebar ul li .fas{
	width: 25px;
	
}

.wrapper .sidebar ul li:hover{
	background: #84B1B0;
	
}

.wrapper .sidebar ul li:hover a{
	color: #fff;
	
}

.wrapper .sidebar .social_media{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display:flex;
	
}

.wrapper .sidebar .social_media a{
	display: block;
	width: 40px;
	background: #E3F6F5;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 5px;
	color: black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	
}

.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
	
}

.wrapper .main_content .header{
	padding: 20px;
	background: #fff;
	color: #717171;
	border-bottom: 1px solid #e0e4e8;
	
}

.wrapper .main_content .info {
	margin: 20px;
	color: black;
	
}

.text-box {
	width: 85%;
	color: blue;
	position: absolute;
	text-align: center;
}

.text-box h1{
	font-size: 62px;
	
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 14px;
	color: ;
	
}
.info-btn{
	display: inline-block;
	text-decoration: none;
	color: #154966;
	border: 2px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "Lucida Console", "Courier New", monospace;
	
}

body{
	background: #BEDDDC;
	
}

.wrapper{
	display: flex;
	position: relative;
	
}

.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #56ACAC;
	
}

.wrapper .sidebar h2{
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	padding-top: 29px;
	border-bottom: 3px solid white;

}

.wrapper .sidebar ul li {
	padding: 15px;
	border-bottom: 1px solid rgba (0,0,0,0.05);
	border-top: 1px solid rgba (225,225,225,225.05);
}

.wrapper .sidebar ul li a{
	color: white;
	display: block;
	padding: 10px;
	
}

.wrapper .sidebar ul li .fas{
	width: 25px;
	
}

.wrapper .sidebar ul li:hover{
	background: #84B1B0;
	
}

.wrapper .sidebar ul li:hover a{
	color: #fff;
	
}

.wrapper .sidebar .social_media{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display:flex;
	
}

.wrapper .sidebar .social_media a{
	display: block;
	width: 40px;
	background: #E3F6F5;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 5px;
	color: black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	
}

.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
	
}

.wrapper .main_content .header{
	padding: 20px;
	background: #fff;
	color: #717171;
	border-bottom: 1px solid #e0e4e8;
	
}

.wrapper .main_content .info {
	margin: 20px;
	color: black;
	
}

.text-box {
	width: 85%;
	color: black;
	position: absolute;
	text-align: center;
}

.text-box h1{
	font-size: 62px;
	
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 14px;
	color: ;
	
}
.info-btn{
	display: inline-block;
	text-decoration: none;
	color: #154966;
	border: 2px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.info-btn:hover {
	border: 1px solid #73bce2;
	background: #73bce2;
	transition: 1s;
	color: ;
}

@media(max-width: 700px){
	.text-box h1{
	font-size: 20px;
	}
	
	.nav-links ul li{
		display: block;
	}
	
	nav-links{
		position: absolute;
		background: ;
		height: 
	}
}

.pic {
	display: flex;
	justify-content: center;
}
